@model IEnumerable<DataAccessLayer.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<p>
    <a asp-action="Create" class="voegtoe">Maak bestelling aan</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Besteldatum</th>
            <th>Status</th>
            <th>Klant</th>
            <th>Betaald</th>
            <th>Verzonden</th>
            <th>Aangekomen</th>
            <th style="width=100"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.OrderDate.ToString("dd-MM-yyyy")</td>
                <td>@order.Status</td>
                <td>@order.Customer.Name</td>
                <td>@order.PaidAt?.ToString("dd-MM-yyyy")</td>
                <td>@order.ShippedAt?.ToString("dd-MM-yyyy")</td>
                <td>@order.DeliveredAt?.ToString("dd-MM-yyyy")</td>
                <td>
                    <a class="bewerk" asp-action="Edit" asp-route-id="@order.Id">Bewerk</a>
                    <form asp-action="Delete" asp-route-id="@order.Id" method="post" style="display:inline;">
                        <button type="submit" class="verwijder" onclick="return confirm('Weet je zeker dat je deze klant wilt verwijderen?');">Verwijder</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

