@model KE03_INTDEV_SE_2_Base.Models.CustomerFilterViewModel

@{
    ViewData["Title"] = "Klanten";
}

<form asp-controller="Customers" asp-action="Index" method="get" class="order-zoekform">
    <div class="zoekform-header">
        <a asp-action="Create" class="toevoegen">Maak klant aan</a>

        <div class="zoekgroep">
            <input asp-for="SearchString" class="zoekbalk" placeholder="Zoek op klantnaam..." />
            <input type="submit" value="Zoek" class="zoekknop" />
        </div>

        <div class="filterkolom">
            <div class="filter-item">
                <label>Is actief:</label>
                <select asp-for="IsCustomerActive" asp-items="Model.ActiveOptions" class="onderdelen"></select>
            </div>
        </div>
    </div>
</form>

<p>
    
</p>

<table class="table klanten-table" style="margin-top: 20px">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Adres</th>
            <th>Actief</th>
            <th>Inschrijfdatum</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @($"{item.StreetName} {item.HouseNumber}, {item.PostalCode} {item.CityName}, {item.Country}")
                </td>
                <td>
                    @if (item.Active)
                    {
                        <span class="badge actief">Actief</span>
                    }
                    else
                    {
                        <span class="badge inactief">Inactief</span>
                    }
                </td>
                <td>@item.JoinDate.ToShortDateString()</td>
                <td class="actie-knoppen">
                    <a class="actie-knop bewerk" asp-action="Edit" asp-route-id="@item.Id">Bewerk</a>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="actie-knop verwijder" onclick="return confirm('Weet je zeker dat je deze klant wilt verwijderen?');">Verwijder</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
