@model IEnumerable<DataAccessLayer.Models.Customer>

@{
    ViewData["Title"] = "Klanten";
}

<p>
    <a class="voegtoe" asp-action="Create">Maak klant aan</a>
</p>

<table class="table klanten-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Adres</th>
            <th>@Html.DisplayNameFor(model => model.Active)</th>
            <th>@Html.DisplayNameFor(model => model.JoinDate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @($"{item.StreetName} {item.HouseNumber}, {item.PostalCode} {item.CityName}, {item.Country}")
                </td>
                <td>@Html.DisplayFor(modelItem => item.Active)</td>
                <td>@item.JoinDate.ToShortDateString()</td>
                <td>
                    <a class="bewerk" asp-action="Edit" asp-route-id="@item.Id">Bewerk</a>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <button type="submit" class="verwijder">Verwijder</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
