@using KE03_INTDEV_SE_2_Base.Models  
@model ProductViewModel  

@{  
    ViewData["Title"] = "Producten";  
}  

<p>  
    <a class="voegtoe" asp-action="Create">Maak product aan</a>
</p>  

<form asp-controller="Products" asp-action="Index" method="get" class="product-zoekform">
    <div class="zoekform-container">
        <div class="zoekbalk-kolom">
            <div class="zoekbalk-wrapper">
                <input type="text" asp-for="SearchString" class="zoekbalk" placeholder="Zoek op naam..." />
                <input type="submit" value="Zoek" class="navbtn7" />
            </div>
        </div>
        <div class="filterkolom">
            <div class="filter-item">
                <label><input type="checkbox" asp-for="IsOnSale" value="true" /> In de aanbieding</label>
            </div>
            <div class="filter-item">
                    <label>
                        Onderdelen:
                        <select asp-for="ProductPart" asp-items="Model.Parts" class="onderdelen">
                            <option value="">All</option>
                        </select>
                    </label>
            </div>
            <div class="filter-item">
                <label>
                    Prijs:
                    <input type="number" asp-for="MinPrice" placeholder="Min" class="filter-prijs" /> -
                    <input type="number" asp-for="MaxPrice" placeholder="Max" class="filter-prijs" />
                </label>
            </div>
            <div class="filter-item">
                <label>
                    Toevoegingsdatum:
                    <input type="date" asp-for="StartDate" class="filter-datum" /> -
                    <input type="date" asp-for="EndDate" class="filter-datum" />
                </label>
            </div>
        </div>
    </div>
</form>



<table class="table">  
    <thead>  
        <tr>
            <th>
                ID
            </th>
            <th>  
                Afbeelding  
            </th>  
            <th>  
                Naam 
            </th>  
            <th>  
                Beschrijving
            </th>  
            <th>  
                Prijs standaard
            </th>  
            <th>  
                Prijs aanbieding
            </th>  
            <th>  
                Startdatum aanbieding
            </th>  
            <th>  
                Einddatum aanbieding
            </th>  
            <th>  
                Voorraad
            </th>  
            <th>
                Toevoegingsdatum
            </th>
            <th></th>
        </tr>  
    </thead>  
    <tbody>  
@foreach (var item in Model.Products!) {  
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>  
                <img src="@item.ImageUrl" alt="Product Image" style="width: 50px; height: 50px;" />  
            </td>  
            <td>  
                @Html.DisplayFor(modelItem => item.Name)  
            </td>  
            <td>  
                @Html.DisplayFor(modelItem => item.Description)  
            </td>  
            <td>  
                @Html.DisplayFor(modelItem => item.Price)  
            </td>  
            <td>  
                @Html.DisplayFor(modelItem => item.SalePrice)  
            </td>  
            <td>  
                @Html.DisplayFor(modelItem => item.SaleStartDate)  
            </td>  
            <td>  
                @Html.DisplayFor(modelItem => item.SaleEndDate)  
            </td>  
            <td>  
                @Html.DisplayFor(modelItem => item.StockQuantity)  
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                    <a class="bewerk" asp-action="Edit" asp-route-id="@item.Id">Bewerk</a>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <button type="submit" class="verwijder" onclick="return confirm('Weet je zeker dat je dit product wilt verwijderen?');">Verwijder</button>
                    </form>
            </td>  
        </tr>  
}  
    </tbody>  
</table>
